In [1]:
import acquire
import prepare

import pandas as pd
import matplotlib.pyplot as plt

# Store Item Data:

In [ ]:
#Acquiring the data:
df = acquire.get_store_item_sales_data()

In [ ]:
df.head()

## 1. Convert date column to datetime format.

In [ ]:
#Adding line below from Adam's review to eliminate the extra timestamp:
df.sale_date = df.sale_date.apply(lambda date: date[:-13])
#Converting the column to datetime:
df.sale_date = pd.to_datetime(df.sale_date, format='%a, %d %b %Y')

## 2. Plot the distribution of sale_amount and item_price.

In [ ]:
#creating a histogram of sale amounts:
df.sale_amount.hist()

In [ ]:
#Creating a histogram of item prices:
df.item_price.hist()

## 3. Set the index to be the datetime variable.

In [ ]:
#Setting the index to the date and sorting by the date:
df = df.set_index('sale_date').sort_index()

In [ ]:
df.head()

## 4. Add a 'month' and 'day of week' column to your dataframe.

In [ ]:
df['month'] = df.index.strftime('%B')
df.head(1)

In [ ]:
df['day_of_week'] = df.index.strftime('%A')
df.head(1)

## 5. Add a column to your dataframe, sales_total, which is a derived from sale_amount (total items) and item_price.

In [ ]:
df['sales_total'] = df.sale_amount * df.item_price
df.head()

## 6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

Functions added in prepare.py file (tested below).

# OPS Data:

In [ ]:
df = acquire.get_german_energy_data()
df.sample(n=5)

In [ ]:
#Making all columns lower case for simplicity:
df.columns = [x.lower() for x in df.columns]

## 1. Convert date column to datetime format.

In [ ]:
#Converting the date column to datetime with the appropriate format:
df.date = pd.to_datetime(df.date, format='%Y-%m-%d')

## 2. Plot the distribution of each of your variables.

In [ ]:
df.consumption.hist()

In [ ]:
df.wind.hist()

In [ ]:
df.solar.hist()

In [ ]:
df['wind+solar'].hist()

## 3. Set the index to be the datetime variable.

In [ ]:
df = df.set_index('date').sort_index()
df.head(1)

## 4. Add a month and a year column to your dataframe.

In [ ]:
df['month'] = df.index.strftime('%B')
df.head(1)

In [ ]:
df['year'] = df.index.strftime('%Y')
df.head(1)

## 5. Fill any missing values.

In [ ]:
#Replacing all null values with 0:
df = df.fillna(0)

## 6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions and be able to re-run the functions and get the same results.

Functions added in prepare.py file (tested below).

# Testing the functions

In [2]:
sd = prepare.prepare_store_data()
sd.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14,sale_amount,sale_id,store_id,store_address,store_city,store_state,store_zipcode,month,day_of_week,sales_total
sale_date,,,,,,,,,,,,,,,,
2013-01-01,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013,13.0,1,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,January,Tuesday,10.92
2013-01-01,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,26.0,211817,7,12018 Perrin Beitel Rd,San Antonio,TX,78217,January,Tuesday,218.40
2013-01-01,Mama Marys,46,Pizza Sauce,4.65,35457770664,35457770664,27.0,832657,7,12018 Perrin Beitel Rd,San Antonio,TX,78217,January,Tuesday,125.55
2013-01-01,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,54.0,213643,8,15000 San Pedro Ave,San Antonio,TX,78232,January,Tuesday,453.60
2013-01-01,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,35.0,215469,9,735 SW Military Dr,San Antonio,TX,78221,January,Tuesday,294.00

In [5]:
ed = prepare.prepare_energy_data()
ed.sample(n=10).sort_index()

            consumption     wind   solar  wind+solar     month  year
date
2006-04-11     1419.301    0.000   0.000       0.000     April  2006
2006-05-18     1365.406    0.000   0.000       0.000       May  2006
2008-07-04     1355.638    0.000   0.000       0.000      July  2008
2009-06-13     1034.662    0.000   0.000       0.000      June  2009
2011-07-19     1350.734   40.553   0.000       0.000      July  2011
2011-11-30     1533.630  186.166   0.000       0.000  November  2011
2013-03-28     1343.532   95.495  74.997     170.492     March  2013
2015-01-07     1569.872  227.208  17.113     244.321   January  2015
2015-11-03     1524.191   27.695  79.488     107.183  November  2015
2016-10-28     1480.316  375.774  40.042     415.816   October  2016